<a href="https://colab.research.google.com/github/JamesKha/MovieRecommendation/blob/main/Collab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
linksDF = pd.read_csv('/content/drive/MyDrive/Miniproject Files/links.csv')
moviesDF = pd.read_csv('/content/drive/MyDrive/Miniproject Files/movies.csv')
ratingsDF = pd.read_csv('/content/drive/MyDrive/Miniproject Files/ratings.csv')
tagsDF = pd.read_csv('/content/drive/MyDrive/Miniproject Files/tags.csv')

In [3]:
movieAndRatings = pd.merge(moviesDF,ratingsDF, on='movieId' )

In [4]:
movieAndRatings.head()

   movieId             title  ... rating   timestamp
0        1  Toy Story (1995)  ...    4.0   964982703
1        1  Toy Story (1995)  ...    4.0   847434962
2        1  Toy Story (1995)  ...    4.5  1106635946
3        1  Toy Story (1995)  ...    2.5  1510577970
4        1  Toy Story (1995)  ...    4.5  1305696483

[5 rows x 6 columns]

In [5]:
movieAndRatings.groupby('userId')['title'].apply(lambda x: list(np.unique(x)))

userId
1      [13th Warrior, The (1999), 20 Dates (1998), Ab...
2      [Collateral (2004), Dark Knight Rises, The (20...
3      [2012 (2009), Alien Contamination (1980), Andr...
4      [12 Angry Men (1957), Adventures of Priscilla,...
5      [Ace Ventura: Pet Detective (1994), Addams Fam...
                             ...
606    [11'09"01 - September 11 (2002), 2001: A Space...
607    [Adventures of Milo and Otis, The (Koneko mono...
608    [10 Items or Less (2006), 187 (One Eight Seven...
609    [Adventures of Pinocchio, The (1996), Anne Fra...
610    ['71 (2014), (500) Days of Summer (2009), 10 C...
Name: title, Length: 610, dtype: object

In [6]:
movieAndRatings.title.value_counts()

Forrest Gump (1994)                 329
Shawshank Redemption, The (1994)    317
Pulp Fiction (1994)                 307
Silence of the Lambs, The (1991)    279
Matrix, The (1999)                  278
                                   ...
Here Comes Mr. Jordan (1941)          1
Savages, The (2007)                   1
Narcopolis (2014)                     1
Anything for Love (2016)              1
Freaked (1993)                        1
Name: title, Length: 9719, dtype: int64

In [7]:
pd.DataFrame(movieAndRatings.groupby(['userId','genres'])['rating'].max()).to_csv('/content/drive/MyDrive/testfile.csv')

In [8]:
user_movie_rating = movieAndRatings.pivot_table(index='userId', columns='title', values='rating')

In [9]:
user_movie_rating

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1              NaN  ...                                        NaN
2              NaN  ...                                        NaN
3              NaN  ...                                        NaN
4              NaN  ...                                        NaN
5              NaN  ...                                        NaN
...            ...  ...                                        ...
606            NaN  ...                                        NaN
607            NaN  ...                                        NaN
608            NaN  ...                                        NaN
609            NaN  ...                                        NaN
610            4.0  ...                                        NaN

[610 rows x 9719 columns]

In [10]:
test_ratings = user_movie_rating["Shawshank Redemption, The (1994)"]

In [11]:
movies_like_test = user_movie_rating.corrwith(test_ratings)

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [12]:
corr_test = pd.DataFrame(movies_like_test, columns=['Correlation'])
corr_test.dropna(inplace=True)
corr_test.head()

                                Correlation
title
'burbs, The (1989)                 0.419543
(500) Days of Summer (2009)        0.249580
*batteries not included (1987)     0.404520
...And Justice for All (1979)     -1.000000
10 Cloverfield Lane (2016)         0.145671

In [13]:
corr_test.sort_values('Correlation', ascending=False).head(10)

                                           Correlation
title
Principal, The (1987)                              1.0
Chi-Raq (2015)                                     1.0
Rififi (Du rififi chez les hommes) (1955)          1.0
Robot & Frank (2012)                               1.0
Rock Star (2001)                                   1.0
Catch a Fire (2006)                                1.0
Cat in the Hat, The (2003)                         1.0
Cars 2 (2011)                                      1.0
Runaway (1984)                                     1.0
Care Bears Movie, The (1985)                       1.0

In [14]:
newDataFrameTest = pd.DataFrame(movieAndRatings.groupby('title')['rating']\
.agg(['count','mean'])\
.sort_values(['count', 'mean'], ascending=[False, True]))

In [15]:
newDataFrameTest = newDataFrameTest.rename({'count':'vote_count',\
                         'mean':'vote_average'}, axis='columns')
newDataFrameTest

                                  vote_count  vote_average
title
Forrest Gump (1994)                      329      4.164134
Shawshank Redemption, The (1994)         317      4.429022
Pulp Fiction (1994)                      307      4.197068
Silence of the Lambs, The (1991)         279      4.161290
Matrix, The (1999)                       278      4.192446
...                                      ...           ...
Won't You Be My Neighbor? (2018)           1      5.000000
Wonder Woman (2009)                        1      5.000000
World of Glory (1991)                      1      5.000000
Wow! A Talking Fish! (1983)                1      5.000000
Zeitgeist: Moving Forward (2011)           1      5.000000

[9719 rows x 2 columns]

In [16]:
quantile_ninety = newDataFrameTest['vote_count'].quantile(0.90)
mean = newDataFrameTest['vote_average'].mean()
def weighted_rating(x, quantile_ninety=quantile_ninety, mean=mean):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+quantile_ninety) * R) + (quantile_ninety/(quantile_ninety+v) * mean)
newDataFrameTest['score'] = newDataFrameTest.apply(weighted_rating, axis=1)
newDataFrameTest

                                  vote_count  vote_average     score
title
Forrest Gump (1994)                      329      4.164134  4.095743
Shawshank Redemption, The (1994)         317      4.429022  4.337455
Pulp Fiction (1994)                      307      4.197068  4.121510
Silence of the Lambs, The (1991)         279      4.161290  4.081975
Matrix, The (1999)                       278      4.192446  4.110113
...                                      ...           ...       ...
Won't You Be My Neighbor? (2018)           1      5.000000  3.324446
Wonder Woman (2009)                        1      5.000000  3.324446
World of Glory (1991)                      1      5.000000  3.324446
Wow! A Talking Fish! (1983)                1      5.000000  3.324446
Zeitgeist: Moving Forward (2011)           1      5.000000  3.324446

[9719 rows x 3 columns]